<div>
  <h2>Apollo Angular Tutorial 🚀</h2>
  <nav>
    <ul>
      <li><a routerLink="/basic" routerLinkActive="active">Basic</a></li>
      <li>Queries
        <ul>
          <li><a routerLink="/query/basic" routerLinkActive="active">Basic</a></li>
          <li>Data extraction
            <ul>
              <li><a routerLink="/query/data-extract/async-pipe" routerLinkActive="active">Async pipe</a></li>
              <li><a routerLink="/query/data-extract/rxjs" routerLinkActive="active">RxJS</a></li>
            </ul>
          </li>
        </ul>
      </li>
      <li>Mutations
        <ul>
          <li><a routerLink="/mutation/basic" routerLinkActive="active">Basic</a></li>
          <li><a routerLink="/mutation/optimistic-response" routerLinkActive="active">Optimistic response</a></li>
        </ul>
      </li>
      <li>GraphQL services
        <ul>
          <li><a routerLink="/services/query" routerLinkActive="active">Queries</a></li>
          <li><a routerLink="/services/mutation" routerLinkActive="active">Mutations</a></li>
          <li><a routerLink="/services/subscription" routerLinkActive="active">Subscriptions</a></li>
          <li><a routerLink="/services/code-gen" routerLinkActive="active">Generated queries</a></li>
        </ul>
      </li>
    </ul>
  </nav>
  <main>
    <router-outlet></router-outlet>
  </main>
</div>
